{% extends "app/base.html" %}

{% load staticfiles %}

{% block navbar-landing-active %}class=active{% endblock %}

{% block content %}

<div class="row">
   <div class="text-center">
      <img src="{% static "img/landing.jpg" %}" class="img-responsive text-center" style="width:100%;">
   </div>
</div>
<div class="row">
   <div class="text-center" style="margin-top:20px">
       <a class="btn btn-primary" role="button" href="{% url 'account_signup' %}">Sign Up</a>
   </div>
</div>
<div class="row" style="margin-top:20px">
   <div class="col-md-8 col-md-offset-2">

A 'managed account' is an allocation of money that can be debited and credited. This package provides managed account functionality for use with the e-commerce framework Oscar. It can also be used standalone without Oscar.

Accounts can be used to implement a variety of interesting components, including:

Giftcards
Web accounts
Loyalty schemes
Basically anything that involves tracking the movement of funds within a closed system.

This package uses double-entry bookkeeping where every transaction is recorded twice (once for the source and once for the destination). This ensures the books always balance and there is full audit trail of all transactional activity.

If your project manages money, you should be using a library like this. Your finance people will thank you.         </div>

   </div>
</div>

{% endblock content %}

